In [1]:
def task():
    result = 10+5
    print(10+5)
    return result
    
# call the func
ans = task()
print(ans)

15
15

In [2]:
a=5
b=6

ans = a - b
ans

-1

In [3]:
def task(a, b):
    result = a + b
    print("task is: ", result)
    return result, "task done"

task(2, 6)

# unpacking the returned tuple 
ans1, ans2 = task(2, 6)
print(ans1)
print(ans2)

task is:  8
task is:  8
8
task done

In [4]:
# tuple unpackaging
a, b , c = (20, "delhi", True)
print(a)
print(c)
print(b)

20
True
delhi

#### lambda functions

special functions in python, also called anonymous functions. helps to create a single line fnction defination

used to handle simple tasks only

In [6]:
# normalfunction declaration an call
def func(x, y):
    if x > y:
        
        return "x is greater"
    else:
        return "y is greater"

ans = func(10,20)
print(ans)

y is greater

In [7]:
func = lambda x, y: "x is greater" if x > y else "y is greater"
func

In [8]:
func(200,30)

'x is greater'

#### filter, sorted, map, reduce

In [10]:
# filter - returns the filtered result
ls = [20, 12, 90, 67, 81, 100, 25]

def func(x):
    if x % 2 == 0:
        return x
        
# ans = filter(lambda x: x % 2 != 0 , ls)
ans = filter(func, ls)

print(ans)
print(list(ans))

<filter object at 0x0000023349D05000>
[20, 12, 90, 100]

In [11]:
# sorts the iterable
ans = sorted(ls, reverse=True)
print(ans)

[100, 90, 81, 67, 25, 20, 12]

In [12]:

d = [ ('a', 10), ('b', 25), ('c', 15) ]
ans = sorted(d, key=lambda x: x[1])
print(ans)

[('a', 10), ('c', 15), ('b', 25)]

In [13]:
# map -> modifies each value of iterable, and returns the updated values
ls = [20, 12, 90, 67, 81, 100, 25] 

def func(x):
    return x * 2
    
ans = map(lambda x: x * 2, ls)
# ans = map(func, ls)
print(ans)
print(tuple(ans))

<map object at 0x0000023349D053C0>
(40, 24, 180, 134, 162, 200, 50)

In [58]:
reduce -> used to aggregate the values in a single value
from functools import reduce

# reduce
ls = [20, 12, 90, 67, 81, 100, 25]

ans = reduce((lambda acc, curr: acc + curr), ls)
print(ans)

395

In [59]:
# recursion

In [67]:
def factorial(x):
    # base case:
    if x <= 0:
        return 1

    # tasks:
    fact = x * factorial(x-1)
    return fact

ans = factorial(5)
print(ans)

120