# Lists in Python

**list** -> is a sequential datatype or data structure , which stores all the values in a ordered way.

**properties:**

1. ***mutable*** -> can do changes
2. ***ordered*** -> stores all elements in a order form by insertion
3. ***heterogeneous*** -> can store different types of values in a same list
4. ***duplicates*** -> can stores store duplicates values as well.

the list is used as : ***sq-brackets -> [ ]***
in which the values are seperated by comma.

creation of list

In [1]:
# empty list
ls = []

print(ls)
print(type(ls))

[]
<class 'list'>

In [2]:
ls = [ 12, 20, 45, 100 ]
print("list is :", ls)
print(type(ls))

list is : [12, 20, 45, 100]
<class 'list'>

In [3]:
ls = [ "aman", "jai", "priya", "shakti" ]
print(ls)

['aman', 'jai', 'priya', 'shakti']

In [4]:
# heterogeneous values
ls = [ 12, True, 26.78, "aman", False, 15 ]
print(ls)
print(type(ls))

[12, True, 26.78, 'aman', False, 15]
<class 'list'>

In [5]:
print()
print(ls)

[12, True, 26.78, 'aman', False, 15]

In [6]:
ls[2]

26.78

In [7]:
ls[9]

IndexError: list index out of range

In [ ]:
ls[len(ls)-1]

In [ ]:
# negative indexing
ls[-1]

In [ ]:
ls[0:3]

In [ ]:
ls[:]

In [ ]:
ls[0:len(ls)]

In [ ]:
ls[:len(ls)-1]

In [ ]:
ls[2:]

In [ ]:
ls[0:len(ls):2]

In [ ]:
# concatenation -> list with list -> else give type error
ls = [22, 12, 10]
ls2 = [ 100 ]
ls + ls2

In [ ]:
# repetition
ls * 2

In [ ]:
# cannot concatenate list and str
ls + "aman"

In [ ]:
# so performing type casting
ls + list ("aman" )

In [ ]:
# looping over the lists

ls = [ 12, True, 26.78, "aman", False, 15 ]

for i in ls:
    print(i, end=' - ')

In [ ]:
len(ls)

In [ ]:
for i in range(0, len(ls)):
    print(i, ' - ', ls[i])

In [8]:
# assigning the values at specific index is not possible in strings
s1 = "hey"
s1[0] = '100'

TypeError: 'str' object does not support item assignment

In [ ]:
# values of specific index can be updated in lists
ls[2] = "hey"
ls

lists are mutable, means changes can be made on lists, but what type of changes?

**Changes** means, we can ***add, update or delete the data*** at specific index in lists

In [ ]:
# 1. Adding the data

In [9]:
ls.append(220)
ls

[12, True, 26.78, 'aman', False, 15, 220]

In [10]:
new_ls = [200, 250, 300]
ls.append(new_ls)

In [11]:
ls

[12, True, 26.78, 'aman', False, 15, 220, [200, 250, 300]]

In [12]:
ls.extend(new_ls)
ls

[12, True, 26.78, 'aman', False, 15, 220, [200, 250, 300], 200, 250, 300]

In [13]:
ls.insert(2, "perfect")

In [14]:
ls

[12,
 True,
 'perfect',
 26.78,
 'aman',
 False,
 15,
 220,
 [200, 250, 300],
 200,
 250,
 300]

In [15]:
# 1. count all the elements present in a list
ls = [24, 15, 20, True]
len(ls)

4

In [16]:
# 2. count all the words prsent in a string
s1 = "delhi is a tier-1 city."
ls = s1.split(' ')
ls

['delhi', 'is', 'a', 'tier-1', 'city.']

In [17]:
len(ls)

5

In [21]:
# nested lists:
# using a list inside another list

ls = [ 12, 56, 78, [ "harsh", "kirti", "mohit" ], 24 ]
print(ls)
print(ls[3])
print(ls[4])

[12, 56, 78, ['harsh', 'kirti', 'mohit'], 24]
['harsh', 'kirti', 'mohit']
24

In [23]:
ls[3][2]

'mohit'

In [28]:
ls = [ 12, 56, 78, [ "harsh", "kirti", "mohit", [True, False, 100] ], 24 ]
ls[3][3][0]

True

In [30]:
ls[3][3][0] = "hey"
ls

[12, 56, 78, ['harsh', 'kirti', 'mohit', ['hey', False, 100]], 24]

In [3]:
# in operator
# to check the availability of a value in a list
ls = [ 12, 25, 78, 100, 150, 90 ]
input = int(input("enter a value: "))
input

TypeError: 'str' object is not callable

In [5]:
# in operator
# to check the availability of a value in a list
ls = [ 12, 25, 78, 100, 150, 90 ]

val = 100

# membership operator -> in and not in
if val in ls:
    print("this is available")
else:
    print("its missing")

this is available

In [6]:
# get all the not null values from a list -> is operator
ls = [ 12, 67, None, "aman", None, "rahul", None ]
new_ls = []
for i in ls:
    if i is None:
        continue
    else:
        new_ls.append(i)

new_ls

[12, 67, 'aman', 'rahul']

In [21]:
# remove all blank or none type values from a list
values = [12, True, "hey", False, None ]
new_ls = []

for i in values:
    if i in [0, None, False, ""]:
        continue
    else:
        new_ls.append(i)

new_ls

[12, True, 'hey']

### Concept of shallaw copy and deep copy in lists:

*first revising the things in case of primitive type values*

In [26]:
a = 25
b = a
print(a, id(a))
print(b, id(b))

print()

a = 100
print(a, id(a))
print(b,id(b))

25 140722095634088
25 140722095634088

100 140722095636488
25 140722095634088

In [27]:
# copying a list
ls = [12, 24, 36]
ls2 = ls
print(ls, id(ls))
print(ls2, id(ls2))

[12, 24, 36] 2367994443840
[12, 24, 36] 2367994443840

In [28]:
ls2[1] = True

print(ls)
print(ls2)

[12, True, 36]
[12, True, 36]

In [29]:
# using copy method:
ls2 = ls.copy()
ls2[1] = "perfect"
print(ls, id(ls))
print(ls2, id(ls2))

[12, True, 36] 2367994443840
[12, 'perfect', 36] 2367994441856

In [38]:
# but there is a flaw:
# when we have a nested list, then copy() method fails to deeply copy 
# the nested list elements

x = [12, 24, 36, [True, False]]
y = x.copy()

y[3][0] = "good"
print(x)
print(y)

[12, 24, 36, ['good', False]]
[12, 24, 36, ['good', False]]

In [43]:
# soln is: use a copy library deepcopy method -> 
# which deeply copies all the values of a list, inclduing nexted list as well.

import copy 
x = [12, 24, 36, [True, False]]
y = copy.deepcopy(x)

# changes in y will not reflect in x
y[3][0] = "good"
print(x)
print(y)

[12, 24, 36, [True, False]]
[12, 24, 36, ['good', False]]

In [6]:
# removing an item from the list

In [11]:
ls = [12, 24, 36, [True, False]]

val = ls.pop()
print(val)
print(ls)

[True, False]
[12, 24, 36]

In [13]:
ls.remove(24)
ls

[12, 36]

In [22]:
ls = [12, 24, 36, [True, False]]

# indexing or slicing based removal
del ls[3][1]
print(ls)

[12, 24, 36, [True]]

In [14]:
# remove the nested list from main list
ls = [12, 24, 36, [True, False]]
new_ls = []

for i in ls:
    if isinstance(i, list):
        continue
    else:
        new_ls.append(i)

new_ls

[12, 24, 36]

In [24]:
# append vs extend vs insert

ls = [12, 45, 100, 90 ]
print(ls)
print()

ls.append("hey")
print(ls)
print()

ls.append([True, False])
print(ls)

[12, 45, 100, 90]

[12, 45, 100, 90, 'hey']

[12, 45, 100, 90, 'hey', [True, False]]

In [25]:
# if you want to unpack then store the list item sin main list
# extend()

ls.extend([True, False])

In [26]:
ls

[12, 45, 100, 90, 'hey', [True, False], True, False]

In [28]:
ls.extend("India")

In [29]:
ls

[12,
 45,
 'Delhi',
 100,
 90,
 'hey',
 [True, False],
 True,
 False,
 'I',
 'n',
 'd',
 'i',
 'a']

In [27]:
# insert(): inserts a value at specific index
ls.insert(2, "Delhi")
ls

[12, 45, 'Delhi', 100, 90, 'hey', [True, False], True, False]

In [31]:
for i in ls:
    print(i, end=' - ')

12 - 45 - Delhi - 100 - 90 - hey - [True, False] - True - False - I - n - d - i - a -

In [43]:
# count the occurence of a passed value
ls = [12, 12, 90, 100,12]
print(ls.count(12))

3

In [39]:
# returns the index of first occurence
print(ls.index(12))

0

In [41]:
# indexing -> 0 based indexing

In [42]:
ls = [2, 7,9, 10]
len(ls)

4