# Loops in Python

Loops are used to perform repetitive tasks multiple times in a sequence. Once the loop finishes or the sequence is fully processed, the interpreter moves to the next line of code

In [1]:
print("using the loops in python")
print()
print("for - loop")

print()

# for - loop
for i in range(0, 6):
    print(i)

using the loops in python

for - loop

0
1
2
3
4
5

this function runs from start till end-1, and variable i takes values from start till end-1 in a sequnece.
#### range(start, end, option:step)

In [2]:
for i in range(1, 8+3):
    print("i: ", i)

i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9
i:  10

In [3]:
for i in range(1, 11):
    print("i: ", i)

print("done")

i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9
i:  10
done

In [4]:
for i in range(1, 16):
    print("3 * ", i , "= ", 3*i)

3 *  1 =  3
3 *  2 =  6
3 *  3 =  9
3 *  4 =  12
3 *  5 =  15
3 *  6 =  18
3 *  7 =  21
3 *  8 =  24
3 *  9 =  27
3 *  10 =  30
3 *  11 =  33
3 *  12 =  36
3 *  13 =  39
3 *  14 =  42
3 *  15 =  45

In [5]:
print("col1\t\tcol2\t\tcol3\t\tcol4\t\tcol4\t\tcol5")
for i in range(1, 20):
    print(i, end='\t\t')

col1		col2		col3		col4		col4		col5
1		2		3		4		5		6		7		8		9		10		11		12		13		14		15		16		17		18		19

In [6]:
sum = 0
for i in range(1, 6):
    sum = sum + i
    # print(f"@ i={i}, sum is: {sum}")
    print("@ i=", i, "sum is: ", sum)
    
print("final sum is: ", sum)

@ i= 1 sum is:  1
@ i= 2 sum is:  3
@ i= 3 sum is:  6
@ i= 4 sum is:  10
@ i= 5 sum is:  15
final sum is:  15

In [7]:
prod = 1
# prod: 1, 2, 6, 24, 120, 720 , ...
# i:    1, 2, 3, 4, 5, 6, 7 ...
for i in range(1, 15):
    prod *= i
    print(prod, end=' - ')

1 - 2 - 6 - 24 - 120 - 720 - 5040 - 40320 - 362880 - 3628800 - 39916800 - 479001600 - 6227020800 - 87178291200 -

In [8]:
for i in range(10, 1):
    print(i, end=' - ')

In [9]:
for i in range(1, 20, 4):
    print(i, end=' - ')

1 - 5 - 9 - 13 - 17 -

In [10]:
for i in range(15, 2, -2):
    print(i, end=' - ')

15 - 13 - 11 - 9 - 7 - 5 - 3 -

In [11]:
# while loop

In [1]:
# while loop

# initialization
i = 0

# condition check
while i <= 10:
    print(i, end=" - ")

    # updating the variable
    i += 1

0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 -

In [18]:
# emp salary calculator
for i in range(0, 3):
    print("this is emp: ", i+1)
    salary = int(input("enter salary: "))
    # bonus = 0.1 * salary
    pct_age = int(input("enter promotion percentage: "))
    bonus = (pct_age / 100) * salary
    
    print("salary: ", salary)
    print("bonus: ", bonus)
    print("promoted_salary: ", salary + bonus)
    print()

this is emp:  1

enter salary:  12000
enter promotion percentage:  12.5

salary:  12000
bonus:  1500.0
promoted_salary:  13500.0

this is emp:  2

enter salary:  15000
enter promotion percentage:  12.56

salary:  15000
bonus:  1884.0000000000002
promoted_salary:  16884.0

this is emp:  3

enter salary:  50000
enter promotion percentage:  12

salary:  50000
bonus:  6000.0
promoted_salary:  56000.0

In [19]:
# emp salary calculator
def calc_salary(salary, pct_age):
    bonus = (pct_age / 100) * salary
    print("salary: ", salary)
    print("bonus: ", bonus)
    print("promoted_salary: ", salary + bonus)
    print()

for i in range(0, 2):
    print("this is emp: ", i+1)
    salary = int(input("enter salary: "))
    pct_age = int(input("enter promotion percentage: "))
    
    calc_salary(salary, pct_age)

this is emp:  1

enter salary:  12000
enter promotion percentage:  12

salary:  12000
bonus:  1440.0
promoted_salary:  13440.0

this is emp:  2

enter salary:  50000
enter promotion percentage:  5

salary:  50000
bonus:  2500.0
promoted_salary:  52500.0

In [35]:
def calc(num):
    for i in range(0, num):
        print(i, end=' - ' )

    print("\texit")


print("using a loop inside a function")
calc(6)

using a loop inside a function
0 - 1 - 2 - 3 - 4 - 5 - 	exit

In [38]:
# conditional statements in loops
for i in range(0, 12):
    if i % 2==0:
        print(i, ": is even")
    else:
        # print(f"{i} : is odd")
        print(i, ": is odd")

0 : is even
1 : is odd
2 : is even
3 : is odd
4 : is even
5 : is odd
6 : is even
7 : is odd
8 : is even
9 : is odd
10 : is even
11 : is odd

In [42]:
# conditional statements in loops
for i in range(0, 7):
    print(i)
    # breaking statement in loop
    if i == 4:
        break
    # print(i)

0
1
2
3
4

In [1]:
# continue case
for i in range(0, 7):
    if i==4:
        continue
    print(i, end=' - ')

0 - 1 - 2 - 3 - 5 - 6 -

In [2]:
# continue case
for i in range(0, 7):
    if i % 2 == 0:
        continue
    print(i, end=' - ')

1 - 3 - 5 -

In [2]:
# initialize
isRun = None

# check the conition
while isRun != -1:
    x = int (input ("enter 1st number: "))
    y = int (input ("enter 2nd number: "))
    # operator = int (input ("enter operator (+, -, /, *): ")
    print("result is: ", x + y)

    # update the pointer -> used in conition
    isRun = int ( input ("want to continue? "))
    print()

enter 1st number:  78
enter 2nd number:  65

result is:  143

want to continue?  6

enter 1st number:  89
enter 2nd number:  09

result is:  98

want to continue?  -1