## 1. Encapsulation:

to capsulate the confidential details in a private wrapper

In [27]:
class Employee:
    def __init__(self, name, age, dept, salary):
        # public attr.
        self.name = name
        self.age = age
        self.dept = dept

        
        # private attr.
        self.__salary = salary
        
        print("employee is created!")

    def show_details(self):
        print("Employee is: ", self.name)
        print("he belongs to: ", self.dept)
        # print("salary is: ", self.salary)
    

    def show_salary(self):
        print(self.name, " salary is: ", self.__salary)

    
    def update_salary(self, percentage):
        self.__salary = self.__salary + (percentage/100)*self.__salary
        print(f"{self.name}'s salary is updated successfully!")

In [28]:
e1 = Employee("Aashish", 28, "Data Science", 45000)

employee is created!

In [29]:
e1

In [30]:
e1.show_details()

Employee is:  Aashish
he belongs to:  Data Science

In [31]:
# direct access fails -> __salary -> private attr.
e1.__salary

AttributeError: 'Employee' object has no attribute '__salary'

In [32]:
e1.name

'Aashish'

In [33]:
e1.show_salary()

Aashish  salary is:  45000

In [34]:
e1.update_salary(30)

Aashish's salary is updated successfully!

In [35]:
e1.show_salary()

Aashish  salary is:  58500.0

hence, private attributes can be accessed by class methods only. By class methods, we can not only access but also able to update those private attributes.

## 2. inheritance

when a child class inherits the attributes and methods of parent class, this process is called inheritance!

***a) Simple inheritance***

when there is a parent class and a child class, then child class will inherits all properties / traits of its parent class.

In [39]:
class parent:
    def __init__(self, name):
        self.name = name

class child(parent):
    def __init__(self, name, age):
        # super method -> access the parent class
        super().__init__(name)
        self.age = age

In [40]:
p1 = parent("Yash")
p1.name

'Yash'

In [41]:
c1 = child("Karan", 25)
c1.name

'Karan'

***2. Multiple Inheritance***

when there are multiple parent class, and the child class can have traits of multiple parent.

In [60]:
# parent_1
class human:
    def __init__(self, name):
        self.name = name

# parent_2
class dept:
    def __init__(self, dept_name):
        self.dept_name = dept_name

# child
class emp(human, dept):
    def __init__(self, name, dept_name, age):
        human.__init__(self, name)
        dept.__init__(self, dept_name)
        self.age = age

In [61]:
e1 = emp("Aman", "cs", 25)

In [62]:
e1.name

'Aman'

In [63]:
type(e1)

__main__.emp

In [65]:
print(e1.dept_name)
print(e1.age)

cs
25

***3. Multilevel Inheritance***

when there is a series (chain) like structure, in which every sub-class has a parent class above it.

In [80]:
class parent:
    def __init__(self, name):
        self.name = name

class child(parent):
    def __init__(self, name, age):
        # name belongs to parent class, so accessing it to initialize the name variable
        super().__init__(name)
        self.age = age

class emp(child):
    def __init__(self, name, age, dept):
        # name and age belongs to child class which is the parent of emp class, so accessing just above class to initialize name and age
        super().__init__(name, age)
        self.dept = dept

In [81]:
e1 = emp("ayush", 22, "IT")
e1.name

'ayush'

In [82]:
e1.age

22

In [70]:
c1 = child("Karan", 26)
print(c1.name)
print(c1.age)

Karan
26

In [71]:
p1 = parent("Utkarsh")
print(p1.name)

Utkarsh

***4. Hierarchical Inheritance***

when there are multiple child classes from the single parent class.

each child class can have own unique traits.

In [75]:
# parent
class parent:
    def __init__(self, name):
        self.name = name

class child1(parent):
    def __init__(self, name, age):
        # inherits name attr. from parent class, so accessing parent class
        super().__init__(name)
        self.age = age

class child2(parent):
    def __init__(self, name, dept, location):
        # inherits name from parent class, so accessing it
        super().__init__(name)
        self.dept = dept
        self.location = location

In [76]:
c1 = child1("Aman", 22)
c1

In [78]:
print(c1.name)

Aman

In [79]:
c2 = child2("Lakshay", "IT", 22)
print(c2.dept)

IT

## 5. Hybrid Inheritance:

it's the combination of two or more types of inheritance, in which we merge different inheritance techniques,to get the hybrid class model.

In [83]:
# multilevel inheritance
class parent:
    def __init__(self, name):
        self.name = name

class child(parent):
    def __init__(self, name, age):
        # name belongs to parent class, so accessing it to initialize the name variable
        super().__init__(name)
        self.age = age

class emp(child):
    def __init__(self, name, age, dept):
        # name and age belongs to child class which is the parent of emp class, so accessing just above class to initialize name and age
        super().__init__(name, age)
        self.dept = dept



# hierarchial inheritance
class student(child):
    def __init__(self, name, age, std, section):
        super().__init__(name, age)
        self.std = std
        self.section = section
        print("new student entered!")


class teachers(child):
    def __init__(self, name, age, experience, subjects):
        super().__init__(name, age)
        self.expeience = experience
        self.subjects = subjects
        print("new teacher joined us!")

In [85]:
s1 = student("Jai", 10, "5th", "B")
print(s1.name, "belongs to", s1.section, "section")

new student entered!
Jai belongs to B section

In [86]:
t1 = teachers("Priyanka", 29, "5 years", ['maths', 'sci'])
print(t1.name, "teaches", t1.subjects, "subjects")

new teacher joined us!
Priyanka teaches ['maths', 'sci'] subjects