# Sets in python

In Python, sets are used to store unique occurence of all the passed sequential items.

**properties:**
    
1. ***mutable:*** changes are allowed
2. ***unordered:*** not sequential
3. ***heterogeneous:*** can contains values of different types
4. ***no duplicates:*** duplicates are not allowed, contains the unique values only
5. ***no indexing:***: as sets are unordered, so cannot be accessed by indices

in python, sets are very similar to the mathematical sets. So, we can apply many mathematical sets operations here as well.

creation

In [1]:
# empty set
s1 = set()

print(s1)
print(type(s1))

set()
<class 'set'>

In [2]:
# s = {}
# print(s)
# print(type(s))

In [3]:
s1 = { 12, 12, 12 }
print(s1)
print(type(s1))

{12}
<class 'set'>

In [4]:
# creating a set with the help of sequential data
s2 = set( [12, 12, 15] )
print(s2)
print(type(s2))

{12, 15}
<class 'set'>

In [5]:
s3 = set("Missisippi")
s3

{'M', 'i', 'p', 's'}

In [6]:
# index, access is not allowed
s3[1]

TypeError: 'set' object is not subscriptable

looping over the set by direct traversal only, as with range() method, we cannot access the elements by index numbers

In [ ]:
for i in s3:
    print(i)

1. create a set from all the below given items:
45, 10, 45, 12, 7, 80, 10

In [ ]:
s1 = { 45, 10, 45, 12, 7, 80, 10 }
print(s1)

s2 = set([45, 10, 45, 12, 7, 80, 10])
print(s2)

2. create a set from all the items of the below mentioned list:

[45, 10, 45, 12, 7, 80, 10]

In [ ]:
s1 = set([45, 10, 45, 12, 7, 80, 10])
print(s1)

s2 = {45, 10, 45, 12, 7, 80, 10}
print(s2)

#### Mathematical Operations in sets

1. ***Union :***

combines the sets, and takes the unique (single) occurence of all items from all the sets.

In [ ]:
s1 = {10, 20, 30, 40}
s2 = {40, 50}

union = s1.union(s2)
union

every item will be considered atleast once, and repetition will be denied

In [ ]:
union = s1 | s2
union

2. ***Intersection:***

it takes the commons elements from 2 sets.

In [7]:
s1 = {10, 20, 30, 40}
s2 = {40, 50, 20}

intersection = s1.intersection(s2)
intersection

{20, 40}

In [8]:
intersection = s1 & s2
intersection

{20, 40}

In [9]:
s1 = {10}
s2 = {40, 50, 20}

difference = s1.difference(s2)
difference

{10}

In [10]:
s1 = {10, 20, 30, 40}
s2 = {40, 50}

difference = s1.difference(s2)
difference

{10, 20, 30}

In [11]:
ans = s1 - s2
ans

{10, 20, 30}

In [12]:
ans = s2 - s1
ans

{50}

4. ***Symmetric difference:***

In [13]:
s1 = {10, 20, 30, 40}
s2 = {40, 50}

symm_diff = s1.symmetric_difference(s2)
symm_diff

{10, 20, 30, 50}

In [14]:
s1 = {10, 20, 30}
s2 = {40, 50}

symm_diff = s1.symmetric_difference(s2)
symm_diff

{10, 20, 30, 40, 50}

In [15]:
s1 = {10, 20, 30, 40, 50}
s2 = {40, 50}

symm_diff = s1.symmetric_difference(s2)
symm_diff

{10, 20, 30}

In [16]:
s1 = { True, "aman", 10, True }
s1

{10, True, 'aman'}

In [17]:
s1.add("Delhi")
s1

{10, 'Delhi', True, 'aman'}

In [18]:
s1.add("Delhi")
s1

{10, 'Delhi', True, 'aman'}

In [19]:
s1.add("Mumbai")
s1

{10, 'Delhi', 'Mumbai', True, 'aman'}

update() -> update a set with another set

In [20]:
s1.update({ 10, "Delhi" })
s1

{10, 'Delhi', 'Mumbai', True, 'aman'}

In [21]:
s1.update({ 12, "Delhi" })
s1

{10, 12, 'Delhi', 'Mumbai', True, 'aman'}

In [22]:
s2 = { "Delhi" , 550 }
s1.update(s2)
s1

{10, 12, 550, 'Delhi', 'Mumbai', True, 'aman'}

In [23]:
s1

{10, 12, 550, 'Delhi', 'Mumbai', True, 'aman'}

In [24]:
s1.remove(10)

In [25]:
s1

{12, 550, 'Delhi', 'Mumbai', True, 'aman'}

In [26]:
s1.remove(10)

KeyError: 10

In [27]:
s1.discard(10)

***remove()*** removes the element from the set, but throws error if the element not exists.

so, we have a ***discard()*** method which ensures safe removal by handling the errors smartly.

In [28]:
ans = s1.pop()
print(ans)
print(s1)

True
{550, 12, 'Delhi', 'aman', 'Mumbai'}

***pop():*** removes the random value, and returns it

In [29]:
set_1 = {10, 20, 340, 50}
set_1.clear()
set_1

set()

***clear():*** removes all the elements of set, but keep maintaing the set structure

In [30]:
set_1.add(100)
set_1

{100}

***del*** : it deletes the set (structure) and its elements from the memory or existence.

In [31]:
set_2 = {10, 20, 30}
del set_2
set_2

NameError: name 'set_2' is not defined

1. take a list of employees who goes to canteen , and find the unique out of them.

In [32]:
ls = [ "aman", "neha", "raj", "aman", "akshat", "neha", "neha", "udit" ]

s1 = set(ls)
s1

{'akshat', 'aman', 'neha', 'raj', 'udit'}

In [33]:
s = set()
s.add(10)
s.add(10)
s.add(10)
s.add(12)
s

{10, 12}

In [34]:
# blank set
s = set()

# start traversal on list and find the unique elements
for i in ls:
    s.add(i)

s

{'akshat', 'aman', 'neha', 'raj', 'udit'}

2. remove the set elements which are present in the list

In [35]:
s = {10, "delhi", 990, 10}
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in ls:
    if i in s:
        s.remove(i)

print(s)

{'delhi', 990}

In [38]:
# if want to create a set from individual items, 

s = { 10, 20, 30, 30, 20 }
s

{10, 20, 30}

In [39]:
# want to create a set from a list or any sequence
ls = [10, 20, 50, 60, 10, 60, 50]
s1 = set(ls)
s1

{10, 20, 50, 60}

In [45]:
s1.add(100)
s1

{10, 100, '100', 20, 50, 60}

In [43]:
s1.add("100")
s1

{10, 100, '100', 20, 50, 60}

In [46]:
s1.discard(100)
s1

{10, '100', 20, 50, 60}

In [47]:
s1.discard("100")
s1

{10, 20, 50, 60}

In [48]:
s1.discard(100)

In [49]:
s1.remove(100)

KeyError: 100

In [50]:
# set becomes empty, but the structure still remains
s1.clear()

In [51]:
s1

set()

In [53]:
s1.add(100)

In [54]:
s1

{100}