# Strings in Python->

sequence of characters -> numbers, letters, symbols, etc

it's a textual data -> stored in quotes

properties:
1. immutable in nature
2. ordered -> maintains sequence as per inputs entered!
3. type is -> str class

creating a string

In [1]:
# double quotes
s1 = "SkillCircle in @ $ DElhi "
s1

'SkillCircle in @ $ DElhi '

In [2]:
# single quotes
s2 = 'SkillCircle in delhi'
s2

'SkillCircle in delhi'

In [3]:
# triple - double quotes
s3 = """ SkillCircle  """
s3

' SkillCircle  '

In [4]:
# triple - single quotes
s4 = '''SkillCircle in Delhi'''
s4

'SkillCircle in Delhi'

In [41]:
# printing the string
print("SkillCircle \n at Delhi")

SkillCircle
 at Delhi

In [7]:
s6 = "scored 10 marks @higher edu"
s6

'scored 10 marks @higher edu'

In [8]:
ayush = "AYUSH"
ayush

'AYUSH'

In [9]:
s6 = "scored 10 marks @higher edu"
print(s6)
print(type(s6))

scored 10 marks @higher edu
<class 'str'>

In [10]:
var = 10.6
print(type(var))

s = "10"
print(type(s))

<class 'float'>
<class 'str'>

###### string mathematical operations

1. ***concatenation*** -> adding two strings -> by '+'

in the case of two strings, the '+' behaves some differently.

'+' performs the merging or combining operation, instead of sum or add

In [11]:
s1 = "SkillCircle"
s2 = "provides the"
s3 = "Data Science courses"

ans = s1 + s2 + s3
print(ans)

SkillCircleprovides theData Science courses

In [12]:
s1 = "SkillCircle"
s2 = "provides the"
s3 = "Data Science courses"

ans = s1 + " - " + s2 + " - " + s3
print(ans)

SkillCircle - provides the - Data Science courses

##### type-casting

In [13]:
s1 = "10"
s2 = "delhi"
print(s1 + " " + s2)

10 delhi

In [14]:
s1 = 10
s2 = "delhi"
print(s1 + s2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
s1 = 10
s2 = "delhi"

# str(s1) -> "10"
# s1 -> True -> str(s1) -> "True"
# print( str(s1) + " " + s2)

new_s1 = str(s1)
# type(new_s1)

print(new_s1 + " " + s2)

In [15]:
s1 = 10
s2 = "10"
# print(s1 + s2)
print( str(s1) + " - " + s2)

10 - 10

In [16]:
s1 = 10
s2 = "10"
# print(s1 + s2)
print( s1 + int(s2) )

20

2. ***repetition*** -> multiplying two strings -> by '*'

in the case of two strings, the '*' behaves some differently.

'*' performs the repetition or multiplication operation, instead of normal maths. multiply

In [17]:
s1 = "Delhi_"
s1 * 5

'Delhi_Delhi_Delhi_Delhi_Delhi_'

In [18]:
s2 = "(Mumbai)_" * 3
s2

'(Mumbai)_(Mumbai)_(Mumbai)_'

In [19]:
s1 = 10
s2 = "25"

ans = s1 * int(s2)
print(ans)

250

##### accessing, indexing an slicing

In [20]:
# index numbers -> which always start from 0 (left size) to n-1 -> n is length of string
# index numbers tells the position of charcaters

#     012345678910
s1 = "SkillCircle  !"
print(s1)

print( s1[4] )
print( s1[7] )

SkillCircle  !
l
r

In [21]:
print( s1[10] )
print( s1[100])

e

IndexError: string index out of range

In [22]:

print( s1[-1] )

!

In [23]:
print( s1[-4] )

e

In [24]:
s1 = "Delhi is the CApital of India."

print(  s1[-12] )
print( s1[13] )

a
C

In [25]:
# slicing -> extracting the specific portion (slice) of a string
# [start:end] -> always returns till end-1
print( s1[ 0:5 ] )
print( s1[0: 9] )

Delhi
Delhi is

In [26]:
print( s1[4:12] )

i is the

In [27]:
 # [start: end: steps]
s1 = "Delhi is the CApital of India."
# 0- D
# 2 - l
# 4 - i
# 6 - i
# 8 - " "
# 10 - h
# 12 - " "
print( s1[0: 18: 2]  )
print( s1[0: 100: 3] )

Dlii h Ai
Dhit paoIi

In [28]:
s1 = "Delhi is the CApital of India."

In [29]:
size = len(s1)
print("length of string is: ", size)

length of string is:  30

In [30]:
print( s1[0:size] )

Delhi is the CApital of India.

In [31]:
print( s1[:] )

Delhi is the CApital of India.

In [32]:
# l -> 30
# end -> 30-2 -> 28
# default stop -> 28-1 -> 27th
print( s1[7:len(s1)-2] )

s the CApital of Indi

In [33]:
# start -> 0
# end -> 1
# stop -> end-1 -> 1-1 -> 0
print( s1[0:1] )

D

In [34]:
# negative slicing
print( s1[-1: -5: -1] )

.aid

In [35]:
print( s1[-1: -15: -1] )

.aidnI fo lati

In [36]:
print( s1[-1: 0: -2] )

.in oltpCets he

In [37]:
print( s1[::-1])

.aidnI fo latipAC eht si ihleD

In [38]:
print( s1[::-2])

.in oltpCets he

##### looping over the strings

In [39]:
s1 = "Delhi is the CApital of India."

# direct access
for i in s1:
    print(i, end=' - ')

D - e - l - h - i -   - i - s -   - t - h - e -   - C - A - p - i - t - a - l -   - o - f -   - I - n - d - i - a - . -

In [40]:
# indirect access
for i in range(0, len(s1)):
    print( s1[i] , end=" - ")

D - e - l - h - i -   - i - s -   - t - h - e -   - C - A - p - i - t - a - l -   - o - f -   - I - n - d - i - a - . -

In [41]:
# initialization
i = 0
# condition check
while i < len(s1):
    print( s1[i], end=" - ")
    # update
    i += 1

D - e - l - h - i -   - i - s -   - t - h - e -   - C - A - p - i - t - a - l -   - o - f -   - I - n - d - i - a - . -

In [1]:
# eg1: printing all the words of string
s1 = "Delhi is the CApital of India.t"

# blank string
word = ""

# start iterating / traversing
for i in s1:
    # " " == " " -> tr
    if i == " ":
        print(word)
        word = ""
    else:
        # str + str -> concatenation
        # word = "" + "D" -> "D"
        # word = "D" + "e" -> "De"
        # ...
        # word = "Delhi" + " "
        word = word + i

Delhi
is
the
CApital
of

In [2]:
s1 = "I works for Airtel as a Data Scientist"

print( s1[2: 5] )
print( s1 [2: ] )
print( s1[::] )

wor
works for Airtel as a Data Scientist
I works for Airtel as a Data Scientist

In [3]:
print( s1[-2: -12: -1] )

sitneicS a

In [4]:
# direct loop
for i in s1:
    print( i , end= ' - ')

I -   - w - o - r - k - s -   - f - o - r -   - A - i - r - t - e - l -   - a - s -   - a -   - D - a - t - a -   - S - c - i - e - n - t - i - s - t -

In [5]:
# direct loop
# for i in s1:
#     print(s1)

# indirect loop
for i in range(0, len(s1), 5):
    print(i, " - ", s1)

0  -  I works for Airtel as a Data Scientist
5  -  I works for Airtel as a Data Scientist
10  -  I works for Airtel as a Data Scientist
15  -  I works for Airtel as a Data Scientist
20  -  I works for Airtel as a Data Scientist
25  -  I works for Airtel as a Data Scientist
30  -  I works for Airtel as a Data Scientist
35  -  I works for Airtel as a Data Scientist

In [47]:
# indirect loop
# range (start, end, step)
# 01234
# len("works") -> 5
# 0 -> len(s1) -> loop
# 0 - len(s1) -1 

for i in range(0, len(s1)-4):
    print(i, s1[i])

0 I
1
2 w
3 o
4 r
5 k
6 s
7
8 f
9 o
10 r
11
12 A
13 i
14 r
15 t
16 e
17 l
18
19 a
20 s
21
22 a
23
24 D
25 a
26 t
27 a
28
29 S
30 c
31 i
32 e
33 n

In [48]:
# indirect loop
s1 = "Hello World"
print(len(s1))
for i in range(len(s1)-1, -1, -1):
    print(i, s1[i])

11
10 d
9 l
8 r
7 o
6 W
5
4 o
3 l
2 l
1 e
0 H

In [49]:
# string formatting
# a way to use string is a better way with variables

s1 = "I" 
s2 = "works" 
val = 12
s3 = " hrs. a day"

print(s1, s2, val, s3)
# string formatting
print( f"{s1} {s2} {val} {s3}" )

I works 12  hrs. a day
I works 12  hrs. a day

In [50]:
emp = "vikas"
salary = "35000"

print(emp, "salary is:", salary)
# f-string
print(f"{emp} salary is: {salary}")

vikas salary is: 35000
vikas salary is: 35000

In [51]:
print("{} salary is: {}".format(emp, salary))

vikas salary is: 35000

##### string methods
*there are some inbuilt methods available in string ,which we can use !*

In [53]:
s1 = "hello world"
print("upper : ", s1.upper())
print("lower: " , s1.lower())
print("capitalize: ", s1.capitalize())
print("title: ", s1.title())

upper :  HELLO WORLD
lower:  hello world
capitalize:  Hello world
title:  Hello World

In [54]:
# case checking methods
s1 = "Hey Everyone"
print(s1.istitle())

s2 = "HEY"
print(s2.islower())
print(s2.isupper())

s3 = "Hello World!"

True
False
True

In [55]:
"f".islower()

True

In [56]:
True == True

True

In [57]:
# count all the upper and lower case charcaters
s1 = "i AM from DELHI"

# counter
lowers = 0
uppers = 0
for i in s1:
    # print(i, end= ' - ')
    if i.islower()==True:
        # new_val = old_val + 1
        lowers = lowers + 1
    elif i == " ":
        continue
    else:
        uppers += 1
print("lowers chars : ", lowers)
print("upper chars : ", uppers)

lowers chars :  5
upper chars :  7

In [3]:
# count all the words in a sentence
s1 = "hello guys! how are you. i am fine"

# blank string
word = ""

# counter-> to count the words
freq = 0
 
# traverse over the sequence
for i in s1:
    if i == ' ':
        freq += 1
    else:
        word += i

# handling the last case
if word:
    freq += 1

In [4]:
freq

8

In [60]:
# count all the lowercase and uppercase characters from a string
s1 = "i AM from DELHI"

def func(s1):
    lowerCount = 0
    upperCount = 0
    word = ""
    for i in s1:
        if i == " ":
            if word.islower():
                lowerCount += 1
            else:
                upperCount += 1
            word = ""
        else:
            word = word + i
    if word.islower():
        lowerCount += 1
    else:
        upperCount += 1
    return lowerCount, upperCount

In [61]:
lowers, uppers = func(s1)

In [62]:
uppers

2

In [63]:
lowers

2

In [64]:
# find -> starting index of passed substring
s1 = "i AM from DELHI"

s1.find("AM")

2

In [66]:
substr = "from"

s1.find(substr)

5

In [69]:
s1.find("form")

-1

In [70]:
s1.find(s1)

0

In [67]:
# replace(oldvalue, new value) -> returns the new string
s2 = s1.replace("AM", "am")

print(s1)
print(s2)

i AM from DELHI
i am from DELHI

In [74]:
s1 = "i AM from DELHI AM"

s2 = s1.replace("AM", "am")
s2

'i am from DELHI am'

In [85]:
# split() -> it splits / breaks the string into subparts, based on passed word, and returns the list
s1 = 'i AM from DELHI'

ls = s1.split(" ")
ls

['i', 'AM', 'from', 'DELHI']

In [86]:
ans = ' - '.join(ls)
ans

'i - AM - from - DELHI'

In [ ]:
# ls = s1.split("A")
# ls

In [93]:
# it splits the string into three parts, returns the tuple of 3 sequences
# 1st part : substring before the seperator
# 2nd part : substring passed
# 3rd part : substring after seperator
s1 = "I am from Delhi."
ans = s1.partition("am")
ans

('I ', 'am', ' from Delhi.')

In [ ]:
s1 = "I 
am
good"

In [89]:
# multi-line strings
s1 = "I \n am \n from \n Delhi"
print(s1)

I
 am
 from
 Delhi

In [94]:
s2 = """I 
am 
from 
Delhi"""
print(s2)

I
am
from
Delhi

In [92]:
s2 = '''I 
    am 
    from 
    Delhi'''
print(s2)

I
    am
    from
    Delhi

In [95]:
s1 = "I am from Delhi"

lowers = 0
uppers = 0

for i in s1:
    if i.islower():
        lowers += 1
    else:
        uppers += 1
print(lowers)
print(uppers)

10
5

In [96]:
# append a substring in the middle of string
s1 = "I am from Delhi"

size = len(s1)

new_substr = "<GOOD>"
mid = size // 2

# string slicing and concatenation
new_str = s1[:mid] + new_substr + s1[mid: ]
new_str

'I am fr<GOOD>om Delhi'

In [36]:
# extract alternate chars from a string
s1 = "this_is_going_to_be_the_next_big_thing!"
ans = ""
# indirect
# range(start, end, step)
for i in range(0, len(s1), 3):
    # s1[i] -> str
    # ans -> already string
    # str + str -> concatenate
    ans = ans + s1[i]

print(ans)

tssogoehntitn

In [37]:
# string concatenation
# "aman" + " " + "verma"
"10" + " " + "12" + " " + "900"

'10 12 900'

In [38]:
"h".isdigit()

False

In [2]:
# remove all numbers from a string
s1 = "this is nov 2025"
ans = ""
for i in s1:
    if i.isdigit()==False:
        ans += i
    else:
        continue
ans

'this is nov '

In [40]:
# count the specific words from a string
s1 = "he is a boy, he got promoted, he stays in delhi."
substr = "he"

# initialize
count = 0
word = ""

# word = "h"
# word = "he"
# word = " "
# " " != " "
# word = ""
# start travresing all the chars's
for i in s1:
    if i != " ":
        word = word + i
    else:
        if word == substr:
            count += 1
        word = ""

print(count)

3