# Tuples in Python

*tuples:*

very similar to list:

1. ***heterogeneous***
2. ***ordered***
3. ***allows duplicates***
 
 but, the flaw is that the tuples are ***immutable***.
means, you cannot change the tuple by any how!

In [1]:
# creation

# 1. a blank list
t1 = tuple()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
# 2. again,a blank tuple
t2 = ()
print(t2)
print(type(t2))

()
<class 'tuple'>

In [6]:
t3 = (12, 56)
print(t3)
print(type(t3))

(12, 56)
<class 'tuple'>

In [5]:
# creating a tuple with single element
t4 = (25, )
print(t4)
print(type(t4))

(25,)
<class 'tuple'>

In [7]:
t5 = ( "Aayush" , )
t5

('Aayush',)

In [8]:
# concatenation and repetition are same like list
# also; looping, slicing, indexing and accessing are same like list

In [15]:
# # index(): returns the index of first occurence (from left) of a passed value
t1 = (12, 56, 12, 100, 78)
t1.index(12)

# (12, 56,12, 100, 78).index(56)

0

In [16]:
# count()
(12, 56,12, 100, 78).count(12)

2

In [26]:
# email = "raj@gmail.com"
email = input("enter employee email: ")

# defining the function
def validateEmail(email):
    valid_domains = ["hdfc.com", "icici.com", "axis.com"]
    domain = email.split('@')[-1]
    print(domain)

    if domain in valid_domains:
        print("Employee is genuine")
    else:
        print("invalid person trying to login")

enter employee email:  yash@sbi.com

In [27]:
# calling the function
validateEmail(email)

sbi.com
invalid person trying to login

In [28]:
ls = [12, 34]
for i in ls:
    if i==12:
        ls.remove(i)
ls

[34]

In [45]:
# store only the "gmail.com" domains persons
t1 = ("aman@gmail.com", "vikas@yahoo.com", "aashish@hotmail.com", "raghav@gmail.com")
print(t1)

# ls = list(t1)
# print(ls)

new_ls = []

for i in t1:
    domain = i.split('@')[-1]
    if domain == "gmail.com":
        new_ls.append(i)
    else:
        continue
        
new_ls

('aman@gmail.com', 'vikas@yahoo.com', 'aashish@hotmail.com', 'raghav@gmail.com')

['aman@gmail.com', 'raghav@gmail.com']

In [46]:
t1 = tuple(new_ls)
t1

('aman@gmail.com', 'raghav@gmail.com')

In [53]:
# create a new-list by opening all nested lists in a single dim. list

ls = [12, 20, True, [True, False, [100, 200], True], 30]
new_ls = []

for i in ls:
    if isinstance(i, list):
    # if type(i)==list:
        new_ls.extend(i)
    else:
        new_ls.append(i)
        
new_ls

[12, 20, True, True, False, [100, 200], True, 30]

In [55]:
# remove all the vowels from list -> a, e, i, o, u
ls = ['a', 'm', 'e', 'i', 'v', 'o']

# algo:
# 1. traverse on the list
# 2. check if the current item is in vowels list or not:
#     if yes, then ignore it; (vowel case)
#     else, add it into the list (not a vowel case) 

new_ls = []
for i in ls:
    if i in ('a', 'e', 'i', 'o', 'u'):
        continue
    else:
        new_ls.append(i)

new_ls

['m', 'v']

In [1]:
# returns the index of all elemets which are not vowel

# 1. traverse all the list by range () -> index
# 2. check if the element is vowels or not:
#     IF VOWEL: THEN IGNORE IT;
#     ELSE: STORE ITS INDEX INDEX IN A LIST

In [4]:
# unpackaging the tuple -> variables should be same length as of tuple size
a, b, c = (12, 45, 80)
print(a, b, c)

12 45 80