# Python Basics: Variables, Object, print()

In [1]:
# showing the output
print("hey")

hey

In [2]:
print("hello world")

hello world

In [ ]:
# variables

In [8]:
x = 10

##### x -> variable -> (dynamic in nature) -> identifier -> named reference to a memory location -> it's like a pointer which points to a memory location called object 
##### 10 -> literal / constant value -> static value

In [10]:
print(x)
print('x')

10
x

##### note that: x and 'x' are different things

x -> variable;

'x' -> static value

In [11]:
print("skillcircle")

skillcircle

In [15]:
def func():
    print("hello world")

func()

hello world

In [8]:
break_1 = 10

In [9]:
break_1 = 10
# printing output of a variable
print(break_1)

# printing a value
print(10)

10
10

In [1]:
# variables:
# 1. should declare with a lowrcase or a _: name, _name
# 2. must not have any kind of operator except _: ^name, %name, @name, name^: !@#$%^&*(; _
# 3. can use numbers, but recommedned to use in middle not in starting.
# 4. follow the proper naming convention to get proper idea of purpose.
# 5. must not be a keyword

In [2]:
name_ = 90
name_99 = "aman"
name_99
99_name = "vikas"
99_name

SyntaxError: invalid decimal literal (4194562515.py, line 4)

In [3]:
name_1 = "vikas"
age = 25
z = "bachelors"

In [4]:
# lower camel case
firstName = "vikram"
print(firstName)

# upper camel case
FirstName = "udit"
print(FirstName)

first_name = "karan"
print(first_name)

_first_name = "harsh"
print(_first_name)

vikram
udit
karan
harsh

In [5]:
_name__99 = 10

In [6]:
# this is the class of variables in python

In [7]:
def func():
    print("hello")

x = 10
y = 5

print("welcome")

func()

welcome
hello

In [8]:
x = 10
y = x

print(x)

print(y)

y = 'x'
print(y)

10
10
x

In [9]:
Name = "aman"
name = "jai"
print(name)
print(Name)

jai
aman

In [10]:
x = 10
X = 15

print(x)
print(X)

10
15

In [11]:
y = 20
# variables are case sensitive
print(y)
print(Y)

20

NameError: name 'Y' is not defined

In [46]:
# object, variable (identifier) in python
x = 10
y = x
print(x, id(x))
print(y, id(y))

print()

x = "aman"
print(x, id(x))
print(y, id(y))

print()

x = 10
print(x, id(x))
print(y, id(y))

10 140706233693384
10 140706233693384

aman 2768599338320
10 140706233693384

10 140706233693384
10 140706233693384

##### Tokens: 
the smallest fundamental unit in python. everything in python, is called a token.

1. ***Identifiers:*** the variables or named reference to a memory location
2. ***Literals:*** the static values used anywhere or assigned to a variable
3. ***Comments:*** the textual part in coding cell, which is ignored while execution, denote by #
4. ***Punctuations:*** Special symbols in python - :, ;, , etc.
5. ***Keywords:*** the reserved words in python, which cannot be use asa variable, eg - break, if, continue, def etc.
6. ***Operators:*** use to perform a operation between two values called operands